<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置服务名称-->
    <dubbo:application name="accounting-backend" />
    <dubbo:registry id="dubboRegistry" protocol="${dubbo.protocol.port}" address="${dubbo.registry.address}" />
    <dubbo:reference interface="com.guazi.finance.service.clear.IClearService" id="clearService"
                     group="guazi" registry="dubboRegistry"/>


</beans>